//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer-main {
  position: relative;
  padding: 115px 0;
  overflow: hidden;
  font-size: 18px;
  color: #fff;
  background: rgb(142,105,194);
  background: linear-gradient(225deg, rgba(142,105,194,1) 0%, rgba(103,105,207,1) 50%, rgba(71,105,219,1) 100%);

  .bg-text {
    position: absolute;
    top: initial;
    right: 0;
    bottom: -5%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: 16vw;
    line-height: .7;
    color: #fff;
    text-align: center;
    opacity: .1;
    pointer-events: none;
    text-transform: none;

    span {      
      &:first-child {
        font-family: $font-helvetica-black-hollow;
      }

      &:last-child {
        font-family: $font-helvetica-black;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  p {
    margin: 0;
    font-size: 15px;
  }
  
  a {
    font-size: 18px;
    color: #fff;

    &:hover {
      text-decoration: none;
    }
  }

  .image-holder {
    max-width: 150px;
  }

  .footer-logo {
    width: auto;
    max-width: 100%;
    filter: brightness(0) invert(1);
  }

  ul {
    display: flex;
    justify-content: center;
    margin: 0;

    a {
      position: relative;
      padding: 1px 0;
      font-family: $font-helveticaneue-bold;
      text-decoration: none;
      outline: 0;

      &:after {
        content: '';
        position: absolute;
        top: initial;
        right: 0;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        margin: auto;
        background-color: #fff;
        transition: .35s cubic-bezier(0.65, 0.05, 0.36, 1) all;
      }

      &:hover:after {
        width: 100%;
      }
    }
  }

  .page-links {
    margin-bottom: 10px;

    li {
      position: relative;
    
      &:not(:first-child) {
        margin-left: 20px;

        &:before {
          display: none;
          content: '';
          position: absolute;
          top: 0;
          right: initial;
          bottom: 0;
          left: -12px;
          width: 4px;
          height: 4px;
          margin: auto;
          background-color: #fff;
          border-radius: 50%;
        }
      }
    }
  }

  .copyright-links {
    padding-top: 10px;

    li {
      position: relative;
    
      &:not(:first-child) {
        margin-left: 15px;

        &:before {
          content: '';
          position: absolute;
          top: 4px;
          right: initial;
          bottom: 0;
          left: -7px;
          width: 1px;
          height: 12px;
          margin: auto;
          background-color: #fff;
        }
      }
    }

    a {
      font-size: 12px;

      &:after {
        height: 1px;
      }
    }
  }

  .social-links {
    padding-top: 15px;

    li:not(:first-child) {
      margin-left: 10px;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      padding: 10px;
      font-size: 16px;
      background-color: transparent;
      border: 1px solid #ffffff80;
      transition: .35s ease-in-out all;

      &:after {
        display: none;
      }

      &:hover {
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid #fff;

        i {
          color: $brand-color;
          transform: scale(1.5);
        }
      }
    }

    i {
      color: #fff;
      transform: scale(1);
      transition: .35s ease-in-out all;
    }
  }

  @media (max-width: 1700px) {
    .bg-text {
      bottom: -21%;
    }
  }

  @media (max-width: 1200px) {
    .bg-text {
      bottom: -41%;
    }
  }

  @media (max-width: 991px) {
    .bg-text {
      bottom: -7%;
    }

    .image-holder {
      max-width: 125px;
    }
  }

  @media (max-width: 767px) {
    padding: 180px 0 60px;

    .bg-text {
      bottom: -15%;
      font-size: 17.5vw;
    }

    .image-holder {
      max-width: 100px;
    }

    a {
      font-size: 16px;
    }

    .page-links li:not(:first-child) {
      margin-left: 15px;
    }

    .copyright-links a {
      font-size: 14px;
    }
  }
}